<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{collection}}</title>

  <link rel="shortcut icon" href="/static/favicon.svg" />
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link rel="stylesheet" type="text/css" href="/static/sketch.css">
</head>

<body>
  <header>
    <h1 id="title"><a href="/">{{collection}}</a></h1>

    <h3>{{sketch}}</h3>
  </header>

  <iframe src="/sketch/{{sketch}}/index.html" frameborder="0" id="sketch"></iframe>

  {{#if developmentMode}}
  <script>
    let pipe = new WebSocket(`ws://{{host}}/socket/{{sketch}}`);
    const frame = document.getElementById('sketch')

    function reload() {
      frame.src += ''
    }

    // Reload iframe on socket event
    pipe.addEventListener('message', reload)

    // Automatically reconnect if connection lost
    function reconnect() {
      console.log("Reconnecting...")
      if (pipe.readyState == pipe.CONNECTING) return setTimeout(reconnect, 1000)
      if (pipe.readyState != pipe.CLOSED) return

      pipe = new WebSocket(`ws://{{host}}/socket/{{sketch}}`);
      pipe.addEventListener('message', reload)
      setTimeout(reconnect, 1000)
    }

    pipe.onclose = reconnect
  </script>
  {{/if}}
</body>

</html>